database:
  dev:
    host: "localhost"
    port: 5433
    dbname: "yugabyte"
    user: "yugabyte"
    credential: "yugabyte"
    schema: "metrics"
  prod:
    host: "localhost"
    port: 5433
    dbname: "yugabyte"
    user: "yugabyte"
    credential: "yugabyte"
    schema: "metrics"

auth:
  api_key: "change-me-to-a-real-secret"

server:
  host: "0.0.0.0"
  port: 8000

logging:
  level: "INFO"
  format: "{time:YYYY-MM-DD HH:mm:ss} - {extra[name]} - {level} - {message}"
